*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 200;
}
body{
    background: #ffc699;
}
.grid-container{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    .grid-item{
        color: #fff;
        box-shadow: inset 0 0 0 5px rgba(255, 255, 255, .1);
        text-align: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 
            font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
            flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
            background 0.2s;
        > *{
            // border: 1px solid red;
            width: 100%;
            flex: 1 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.5s;
            &:first-child{ transform: translateY(-100%); };
            &:last-child{transform: translateY(100%);};
        }

        &.active{
            font-size: 40px;
            flex:5;
            > *{
                &:first-child{ transform: translateY(0); };
                &:last-child{transform: translateY(0);};
            }
        }

        p{
            text-shadow: 0 0 4px rgba( 0, 0, 0, .72) , 0 0 14px rgba( 0, 0, 0, .45);
            font-family: 'Amatic SC', cursive;
            text-transform: uppercase;
            font-size: 2em;
            &:nth-child(2){
                font-size: 4em;
            }
        }
    }
}


.item1{background-image: url("https://picsum.photos/id/103/1920/1080");}
.item2{background-image: url("https://picsum.photos/id/200/1920/1080");}
.item3{background-image: url("https://picsum.photos/id/301/1920/1080");}
.item4{background-image: url("https://picsum.photos/id/402/1920/1080");}
.item5{background-image: url("https://picsum.photos/id/503/1920/1080");}